<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mntsiwake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <applicationSettings>
    <mntsiwake.Properties.Settings>
      <setting name="appInstPath" serializeAs="String">
        <value>c:\TKSM_OCR\</value>
      </setting>
      <setting name="sqlServerName" serializeAs="String">
        <value>YMGW-PC\OBCINSTANCE3X</value>
      </setting>
      <setting name="sqlUID" serializeAs="String">
        <value>fkdl</value>
      </setting>
      <setting name="sqlPWD" serializeAs="String">
        <value>sqlPass</value>
      </setting>
      <setting name="sqlCurrentDB" serializeAs="String">
        <value>obc3sresource</value>
      </setting>
      <setting name="hosei" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gengou" serializeAs="String">
        <value>平成</value>
      </setting>
      <setting name="mdbPath" serializeAs="String">
        <value>C:\TKSM_OCR\henkan\kanjo2kconfig.mdb</value>
      </setting>
    </mntsiwake.Properties.Settings>
  </applicationSettings>
</configuration>
